/*====================================================================*/


/*                     My CSS                                        */


/*==================================================================*/

*{
  box-sizing: border-box;
}

html {
    height: 100%;
    max-width: 100%;
    position: relative;
}

body {
    max-width: 100%;
    font-family: ubuntu;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 16px;
}

#description {
    text-align: center;
}

#navigation {
    max-width: 100%;
    padding: 3% 1%;
    background-color: rgb(244, 130, 130);
}

#popup {
    max-width: 40%;
    position: fixed;
    bottom: 2%;
    right: 2%;
    padding: 2%;
    border: 1px solid rgb(226, 226, 226);
    box-shadow: 2px 2px 1px -1px rgb(226, 226, 226), -2px -2px 1px -1px rgb(226, 226, 226);
    animation-name: slideInOne;
    animation-duration: 1s;
    animation-timing-function: linear;
}

#popup>p {
    padding-top: 0;
    margin-top: 0;
    font-size: 1.09em;
}

.pop-product {
    max-width: 48%;
    border: 1px solid rgb(222, 222, 222);
}

.info {
    background: rgb(240, 240, 240);
    margin-top: -2.5%;
    padding: 10% 5%;
    width: 120px;
}

.info>a {
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

.info>h5 {
    margin-top: 0;
    margin-bottom: 0%;
}

#item-0 {
    margin-right: 0.5%;
    float: left;
}

#item-1 {
    float: right;
    margin-left: 0.5%;
}

.product-images {
  width: 120px;
  height: 100px;
  background-size: cover;
  background-position: center;
}

@keyframes slideInOne {
    from {
        position: fixed;
        right: -50%;
        bottom: 2%;
    }
    to {
        position: fixed;
        right: 2%;
        bottom: 2%;
    }
}

@media only screen and (max-width: 615px) {
    #popup {
        max-width: 80%;
    }
}

@media only screen and (max-width: 385px) {
    #popup {
        max-width: 100%;
    }
}

@media only screen and (orientation: portrait) and (max-width: 1025px) and (min-width: 770px) {
    body {
        font-size: 20px;
    }
    #popup {
        max-width: 60%;
    }
}
